$background: #26323a;
$background-card: #404e59;
$primary: #1addbd;
$primary-darker: #006466;
$primary-hover: #70939b;
$secondary: #e89005;
$info: #80A4ED;
$success: #2A6041;
$danger: #DD403A;

$light: #FFF;
$dark: #000;

$own-messages: #d9fdd3;
$other-messages: #ffffff;
$message-user: #787878;
$message-time: #999999;

$animationSpeed: 0.5s;
