@use 'src/app/main/variables' as v;

.register-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  margin: auto;
  background: v.$background-card;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
}

.sign-in-link {
  color: v.$primary;
  text-decoration: none;
  padding-left: 2pt;
}


