<section class="container">
  <div class="register-card h-75">
    <div class="row">
      <div class="col-12 mb-2">
        <h3>ChatterChatter - Register</h3>
      </div>
    </div>
    <form class="row" #registrationForm="ngForm" (ngSubmit)="onRegister(registrationForm.value)">
      <div class="col-12 mb-3">
        <div class="input-group">
          <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faUser"></fa-icon></span>
          <input type="text" class="form-control" name="username" placeholder="Username"
                 ngModel #usernameInput="ngModel" required/>
        </div>
        <span class="help-block color-danger" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter an username</span>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faUser"></fa-icon></span>
          <input type="text" class="form-control" name="firstName" placeholder="Firstname"
                 ngModel #firstNameInput="ngModel"/>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faUser"></fa-icon></span>
          <input type="text" class="form-control" name="lastName" placeholder="Lastname"
                 ngModel #lastNameInput="ngModel"/>
        </div>
      </div>

      <div class="col-12 mb-3">
        <div class="input-group">
          <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faEmail"></fa-icon></span>
          <input type="email" class="form-control" name="email" placeholder="E-Mail"
                 ngModel #emailInput="ngModel" required/>
        </div>
        <span class="help-block color-danger" *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email</span>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faPassword"></fa-icon></span>
          <input type="password" class="form-control" name="password" placeholder="Password"
                 ngModel #passwordInput="ngModel" required/>
        </div>
        <span class="help-block color-danger" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password</span>
      </div>
      <div class="col-12 mb-3">
        <div class="input-group">
          <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faPassword"></fa-icon></span>
          <input type="password" class="form-control" name="passwordRepeat" placeholder="Repeat password"
                 ngModel #passwordRepeatInput="ngModel" required/>
        </div>
        <span class="help-block color-danger" *ngIf="passwordRepeatInput.invalid && passwordRepeatInput.touched">Please enter a password</span>
        <span class="help-block color-danger" *ngIf="passwordInput.value !== passwordRepeatInput.value">Please repeat the password</span>
      </div>
      <div class="col-12">
        <div class="input-group">
          <button type="submit" [disabled]="registrationForm.invalid || showLoading" class="btn w-100"
                  name="register-button">
            <fa-icon *ngIf="showLoading" [icon]="faSpinner"></fa-icon>
            <span *ngIf="showLoading"> Loading...</span>
            <span *ngIf="!showLoading">Register</span>
          </button>
        </div>
      </div>
    </form>
    <div class="row mt-1">
      <div class="col-12 justify-content-center">
        <span>Already have an account?<a class="ms-lg-2 sign-in-link" href="/login">Log In</a></span>
      </div>
    </div>
  </div>
</section>
