<div class="container">
  <div class="row flex-nowrap">
    <a [href]="'/chat'" class="text-decoration-none ml-3 mt-1 mr-4">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
      Back
    </a>
    <h3 class="mt-1">{{subject?.title}}</h3>
  </div>
  <div class="message-holder" (scroll)="updateScrollLock()" #messageContainer>
    <article class="message" [class.own]="isLoggedIn(message.sender)" [class.deleted]="isDeletedUser(message.sender)"
             *ngFor="let message of messages">
      <p class="username" [textContent]="toMessageName(message.sender)"></p>
      <p class="content" [textContent]="message.content"></p>
      <p class="time" [textContent]="toMessageTime(message.time)"></p>
    </article>
  </div>
  <form id="message-form"
        class="list-group-item"
        #messageForm="ngForm"
        (ngSubmit)="onCreateMessage(messageForm, messageForm.value)">
    <div class="input-group">
      <input class="form-control" type="text" name="content" placeholder="Message" ngModel maxlength="250" required/>
      <div class="input-group-append">
        <button class="btn btn-primary"
                type="submit"
                [disabled]="messageForm.invalid || !isSubjectIdLoaded()"
                name="create-message-button">
          <span>Send <fa-icon [icon]="faPaperPlane"></fa-icon></span>
        </button>
      </div>
    </div>
  </form>
</div>

