@use 'src/app/main/variables' as v;

h3 {
  font-size: 1.4em;
}

.message-holder {
  max-height: 70%;
  display: flex;
  flex-direction: column;
  background-color: v.$background-card;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow-y: scroll;
}

.message {
  background-color: v.$secondary;
  color: v.$light;
  width: fit-content;
  max-width: 80%;
  padding: 0.4rem 0.9rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0.2rem;

  & > p {
    margin: 0;
    overflow-wrap: break-word;
  }

  .username {
    font-size: 0.9rem;
    color: inherit;
  }

  .content {
    color: inherit;
  }

  .time {
    text-align: end;
    font-size: 0.8rem;
    color: inherit;
  }

  &.own {
    align-self: end;
    background-color: v.$primary;
    color: v.$primary-darker;
  }
}

#message-form {
  margin-bottom: 20px;
}

.row {
  height: 50px;
  overflow: hidden;

  a, h3 {
    flex-grow: 0;
    white-space: nowrap;
  }
}
