<h1>{{subject?.title}}</h1>
<ng-container *ngFor="let message of messages">
  <p [textContent]="message.time"></p>
  <p [textContent]="message.content"></p>
</ng-container>
<form class="list-group-item"
      #messageForm="ngForm"
      (ngSubmit)="onCreateMessage(messageForm, messageForm.value)">
  <div class="input-group">
    <input class="form-control" type="text" name="content" placeholder="Message" ngModel required/>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"
              type="submit"
              [disabled]="messageForm.invalid || !isSubjectIdLoaded()"
              name="create-message-button">
        <span>Create Message</span>
      </button>
    </div>
  </div>
</form>
