@use 'src/app/main/variables' as v;

.input-group-text {
  background: v.$primary;
  color: v.$light;
}

.btn-edit {
  width: 100px;
  background: v.$primary;
  color: v.$light;
}

.edit-container {
  padding: 0 2rem;
}

.color-danger {
  color: v.$danger;
}

.sign-in-link {
  color: v.$primary;
  text-decoration: none;
  padding-left: 2pt;
}


