@use 'src/app/main/variables' as v;

.subject-container {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.list-group-item {
  overflow: hidden;
}

span {
  height: min-content;
  color: v.$light;
  font-weight: bold;
}

a {
  align-items: center;
}
