/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular-notifier/styles.scss';
@import '~bootstrap/dist/css/bootstrap.css';


body {
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}
