/* You can add global styles to this file, and also import other style files */
@use 'src/app/main/variables' as v;
@import 'node_modules/angular-notifier/styles.scss';
@import '~bootstrap/dist/css/bootstrap.css';

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: v.$background;
}

p, span, li {
  color: rgba(v.$light, .5);
}

h1, h2, h3, h4, h5 {
  color: v.$light;
}

a, a:hover, a:focus, a:active {
  color: v.$primary
}

hr {
  background: v.$background-card;
}

[class="container card"] {
  padding: 10px;
}

.list-group-item {
  background-color: v.$background-card;
  color: v.$light;
}

.list-group-item:hover {
  background: rgba(v.$background-card, 0.9);
  color: v.$light;
}

.form-control {
  background-color: rgba(v.$light, .65);
  border: none;
  color: v.$background;
}

.form-control:focus {
  background-color: rgba(v.$light, .8);
}

.btn {
  border: none;
  background: v.$primary;
  color: v.$light;
}

.btn > span {
  color: v.$light;
}

.btn-primary {
  color: v.$light;
  background: v.$primary;
}

.btn-primary:hover {
  background: rgba(v.$primary, 0.9);
}

.btn-primary:disabled {
  color: v.$light;
  background: rgba(v.$primary, 0.65);
}

.btn-primary:focus {
  background: rgba(v.$primary, 0.9);
  color: v.$light;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background: rgba(v.$primary, 0.9);
  border-color: v.$primary;
}

.btn-secondary {
  background: v.$secondary;
}

.btn-secondary:hover {
  background: rgba(v.$secondary, 0.9);
}

.btn-secondary:focus {
  background: rgba(v.$secondary, 0.9);
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background: rgba(v.$secondary, 0.9);
  border-color: v.$secondary;
}

.btn-secondary:disabled {
  background: rgba(v.$secondary, 0.65);
}

.input-group-text {
  background: v.$background;
  border-color: v.$background;
  color: v.$primary;
}

.color-danger {
  color: v.$danger;
}

.card {
  background: v.$background-card;
}

.chatter-bg-dark {
  background-color: v.$background-card;
}
