<section class="container">
  <div class="row">
    <div class="col"><h3>User create</h3></div>
  </div>
  <form class="row" #createUserForm="ngForm" (ngSubmit)="onCreate(createUserForm.value)">
    <div class="col-6 mb-3">
      <div class="input-group">
        <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faUser"></fa-icon></span>
        <input type="text" class="form-control" name="username" placeholder="Username"
               ngModel #usernameInput="ngModel" maxlength="100" required/>
      </div>
      <span class="help-note text-danger" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter an username</span>
    </div>
    <div class="col-6 mb-3">
      <div class="input-group">
        <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faEmail"></fa-icon></span>
        <input type="email" class="form-control" name="email" placeholder="E-Mail"
               ngModel #emailInput="ngModel" maxlength="100" required/>
      </div>
      <span class="help-note text-danger"
            *ngIf="emailInput.invalid && emailInput.touched">Please enter a valid email</span>
    </div>
    <div class="col-6 mb-3">
      <div class="input-group">
        <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faUser"></fa-icon></span>
        <input type="text" class="form-control" name="firstName" placeholder="Firstname" maxlength="100"/>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="input-group">
        <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faUser"></fa-icon></span>
        <input type="text" class="form-control" name="lastName" placeholder="Lastname" maxlength="100"/>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="input-group">
        <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faPassword"></fa-icon></span>
        <input type="password" class="form-control" name="password" placeholder="Password"
               ngModel #passwordInput="ngModel" maxlength="100" required/>
      </div>
      <span class="help-note text-danger"
            *ngIf="passwordInput.invalid && passwordInput.touched">Please enter a password</span>
    </div>
    <div class="col-6 mb-3">
      <div class="input-group">
        <span class="input-group-prepend"><fa-icon class="input-group-text" [icon]="faPassword"></fa-icon></span>
        <input type="password" class="form-control" name="passwordRepeat" placeholder="Repeat password"
               ngModel #passwordRepeatInput="ngModel" maxlength="100" required/>
      </div>
      <span class="help-note text-danger" *ngIf="passwordRepeatInput.invalid && passwordRepeatInput.touched">Please enter a password </span>
      <span class="help-note text-danger" *ngIf="passwordInput.value !== passwordRepeatInput.value">Please repeat the password</span>
    </div>
    <section class="col-12 align-self-end">
      <button type="submit" [disabled]="createUserForm.invalid || showLoading" class="btn btn-primary float-right"
              name="create-user-button">
        <span *ngIf="showLoading">Loading...</span>
        <span *ngIf="!showLoading"><fa-icon [icon]="faPlus"></fa-icon> Save</span>
      </button>
      <button class="btn btn-secondary float-right mr-1" name="cancel-button" (click)="onCancel()"><span>Cancel</span>
      </button>
    </section>
  </form>
</section>
